<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Translator</title>
</head>
<body>
<div class="container">
    <h1> My Translator</h1>
    {% if msg %}
    <h1>{{msg}}</h1>
    {% else %}
    <div class="result-container" >
        {% if not text %}
        <p>Here will be your translation!!!</p>
        {% else %}
            {{text}}
        {% endif %}
    </div>
    <button class="clear">Clear up!</button>
    <button class="clear" id="read">Read for me</button>
    <form action="" id="form" method="POST">
        {% csrf_token %}
        <textarea name="text" id="text" cols="30" rows="10"></textarea>
        <select name="leng" id="leng">
            <option value="" id="default">Please choose your language:</option>
            <option value="{{lang}}" id="js" hidden></option>
            <option value="Japanese">Japanese</option>
            <option value="Spanish">Sapnish</option>
            <option value="Russian">Russian</option>
            <option value="Bulgarian">Bulgarian</option>
        </select>
        <input type="submit" id="btn" >
    </form>
    <div class="voice-comands">
        <button class="voice start" id="start-btn"><i class="fas fa-microphone"></i></button>
        <button class="voice end" id="stop-btn"><i class="fas fa-microphone-slash"></i></button>
    </div>
    {% endif %} 
</div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>